/composer.lock

/config/autoload/*.local.php
/config/development.config.php

/vendor
/var/cache/*
!/var/cache/.gitkeep
/var/database.sqlite
/var/log/*
!/var/log/.gitkeep

/.idea
/.phpunit.result.cache
