extends ../base.pug
// templates/todos/index.pug

block content
    h1 Todos app List

    ul(class="collection")
        each todo in todos
            li(class="collection-item")= todo.description()
            a(href="#")
                i(class="material-icons right red-text") delete
            a(href="#")
                i(class="material-icons right yellow-text") edit
